body {
  background-color: #1D203A;
}
.container {
  display: flex;
  width: 80vw;
  flex-direction: row;
  
  align-items: center;
  flex-wrap: wrap;
  /* border:1px solid black; */
  margin: auto;
}
.item{
  width: 300px;
  margin: 20px;
  background-color: #020204;
  border-radius: 17px;
}
.center {
  margin-left: 40vw;
  text-align: center;
  /* font-family: century gothic; */
  font-size: 40px;
  margin-top: 30px;
  /* border-radius: 5px; */
}