body {
  background-color: #1D203A;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: st;

}
.item{

  width: 30%;
  margin-top:50px;

}
.center {
  margin-left: 40vw;
  text-align: center;
  /* font-family: century gothic; */
  font-size: 40px;
  margin-top: 30px;
  /* border-radius: 5px; */
}
