body {
  background-color: #1D203A;
}
.container {
  display: flex;
  width: 80vw;
  flex-direction: row;
  
  align-items: center;
  flex-wrap: wrap;
  /* border:1px solid black; */
  margin: auto;
}
.item{
  width: 300px;
  margin: 20px;
  background-color: #020204;
  border-radius: 17px;
}
.center {
  margin-left: 40vw;
  text-align: center;
  font-family: century gothic;
  font-size: 40px;
}
  /* border: 1px solid black;
  padding-left: 21px;
  color:white; 
  word-wrap: break-word; 
}
/* .description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}


.name {
  font-weight: bold;
  font-size: 20px;
}
.company {
  font-size: 12px;
  font-weight: 600;
  padding-top: -80px;
  margin-top: -20px;
} */
